*{
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    background-color: #FCFBF4;
}

@font-face {
    font-family: "Jost";
    src: url("../fonts/Jost-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Jost";
    src: url("../fonts/Jost-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Jost";
    src: url("../fonts/Jost-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}

.header-background {
    position: relative;
    width: 100%;
    height: 400px;
    display: flex;
    overflow: hidden;
    background-image: url('../images/Header.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.header-title {
    position: absolute;
    right: 2%;
    top: 50x;
    color: white;
    padding: 20px;
}

.header-title-main {
    padding: 0px;
    font-size: 180px;
    font-weight: bold;
    font-family: "Jost", sans-serif;
}

.header-title-subscription {
    padding: 10px;
    font-size: 31px;
    font-weight: bold;
    font-family: "Jost", sans-serif;
}

.main-content{
    padding:15px;
}
.welcome{
    display: flex;
    flex-direction: column;
    padding-left: 8px;
}
.welcome-header{
    font-size: 40px;
    font-weight: bold;
}
.welcome-text{
    font-size: 24px;
    max-width: 85%;
    word-wrap: break-word;
}
.block-content{
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    padding: 2rem;
    flex-wrap: wrap;
}
.topics-part-one{
    flex: 2 1 800px;
}
.side-image{
    flex: 1 1 300px;
    max-width: 800px;
}
.side-image img{
    width: 100%;
    max-width: 220rem;
    height: auto;
    object-fit: cover;
}

.topics-part-two{
    flex: 1 1 800px;
}

.text-image{
    flex: 2 1 300px
}

.text-image{
    padding: 50px;
    display: flex;
    width: 100%;
    max-width: 800px;
    height: auto;
    object-fit: cover;
}

.topic{
    margin-top: 45px;
}
.topic-title {
    width: fit-content;
    display: flex;
    align-items: center;
    margin-top: 35px;
    border-radius: 8px;
    position: relative;
    font-size: 36px;
    font-weight: bold;
    padding-left: 8px;
}

.topic-content{
    padding-left: 8px;
    font-size: 24px;
    max-width: 1200px;
    word-wrap: break-word;
    line-height: 1.6;
    white-space: pre-line;
}

.ending{
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: row;
    padding-left: 8px;
    font-size: 25px;
    margin-top: 20px;
}

.text-button{
    height: fit-content;
    width: fit-content;
    background-color: transparent;
    border: none;
    font-size: 25px;
    color: #ffa07a;
}
.text-button:hover {
    text-decoration: underline;
    scale: 1.05;
}

.diagramm{
    display: flex;
    flex-direction: column;
}

.diagramm-header{
    align-self: left;
    font-size: 36px;
    font-weight: bold;
    padding-left: 2rem;

}

.diagramm img{
    align-self: center;
}
.footer {
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
}


.footer-button{
    background-color: transparent;
    color: black;
    font-size: 20px;
    border: none;
    width: fit-content;
}

.footer-button:hover{
    text-decoration: underline;
}